
<h2>Active Tags</h2>
<div class="selected-tags">
  <%= render 'selected_tags' %>
</div>

<h2>Available Tags</h2>
<div class="available-tags">
  <%= render 'available_tags' %>
</div>

<h2>Files</h2> 

<%= form_tag files_path, :multipart=>true, :class=>"form-search" do %>
  <fieldset>
    <%= hidden_field_tag :tags, @selected_tags %>
    <div class="control-group">
      <%= file_field_tag 'document', :class=>"input-file" %>
    </div>
    <div class="control-group">
      <%= submit_tag('Upload', :class=>"btn") %>
    </div>
  </fieldset>
<% end %>

<div>
  <ul class="thumbnails">
    <% for file in @files %>    
    <li class="file-box span3">
      <div class="thumbnail">
        <%= image_tag('rails.png') %>
        <div class="caption">
          <h5><%= link_to file.name, "/gridfs/#{file.file_id}/#{file.file_name}" %></h5>
          <p>
            <%= file.description %>
          </p>
          <p>
            <table>
              <tr>
                <td class="span1">
                  <%= link_to "<i class='icon-file'></i>".html_safe, "/gridfs/#{file.file_id}/#{file.file_name}", :class=>"btn" %>
                  <%= link_to "<i class='icon-search'></i>".html_safe, file_path(file), :class=>"btn" %>
                  <%= link_to "<i class='icon-remove'></i>".html_safe, file_path(file), :confirm => "Are you sure?", :method => :delete, :class=>"btn" %>
                </td>
                <td class="span2 align-right">
                  <%= number_to_human_size(file.file_size) %>
                </td>
              </tr>
            </table>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

