
<h2>Active Tags</h2>
<div class="selected-tags">
  <%= render 'selected_tags' %>
</div>

<h2>Available Tags</h2>
<div class="available-tags">
  <%= render 'available_tags' %>
</div>

<h2>Files</h2> 

<%= form_tag(upload_files_path, :multipart => true) do %>
  <fieldset>
  <%= file_field_tag 'document', :class=>"input-file" %>
  <%= submit_tag('Upload', :class=>"btn") %>
  </fieldset>
<% end %>

<%# @files.in_groups_of(4).each do |group| %>
<div>
  <ul class="thumbnails">
    <% for file in @files %>    
    <li class="file-box span3">
      <div class="thumbnail">
        <%= image_tag('rails.png') %>
        <div class="caption">
          <h5><%= link_to file.name, "/gridfs/#{file.file_id}" %></h5>
          <p>
            <%= file.description %>
          </p>
          <p>
            <table>
              <tr>
                <td class="span1">
                  <i class="icon-file"></i>
                  <%= link_to "<i class='icon-search'></i>".html_safe, details_file_path(file), :class=>"btn" %>
                </td>
                <td class="span2 align-right">
                  <%= number_to_human_size(file.file_size) %>
                </td>
              </tr>
            </table>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<%# end %>

