
<h2>Active Tags</h2>
<div id="selected-tags">
  <%= render 'selected_tags' %>
</div>

<h2>Available Tags</h2>
<div id="available-tags">
  <%= render 'available_tags' %>
</div>

<h2>Files</h2> 

<%= form_tag files_path, :multipart=>true, :class=>"form-search" do %>
  <fieldset class="control-group">
    <%= hidden_field_tag :tags, @selected_tags %>
    <div class="controls">
      <%= file_field_tag 'document', :class=>"input-file span4" %>
      <%= submit_tag('Upload', :class=>"btn") %>
    </div>
  </fieldset>
<% end %>

<div>
  <ul class="thumbnails">
    <%= render @files %>
  </ul>
</div>

