<span data-bind="text: tags()"></span>

<div id="preview-area"></div>

<div id="selected-tags">
  <ul class="breadcrumb">
    <% @file.tags.each do |tag| %>
      <li>
        <%= bootstrap_button_link(tag, file_tag_path(@file,tag), :method=>:delete, :icon=>:remove, :primary=>true) %>
      </li>
    <% end %>
  </ul>
</div>

<div id="available-tags">
  <ul class="breadcrumb">
    <% (FileDocument.all_tags-@file.tags).each do |tag| %>
      <li>
        <%= bootstrap_button_link tag, file_tag_path(@file, tag), :method=>:put, :primary=>true %>
      </li>
    <% end %>
   </ul>
</div>

<h2><%= @file.file_name %></h2>
<p><strong>File Id:</strong> <%= @file.id %></p>
<p><strong>File Type:</strong> <%= @file.file_type %></p>
<p><strong>File Fingerprint:</strong> <small><%= @file.fingerprint %></small></p>
<p><strong>File Size:</strong> <%= number_to_human_size(@file.file_size) %></p>

<%= bootstrap_button_link 'Back', files_path, :icon=>'folder-open' %>
<%= bootstrap_button_link 'Edit', edit_file_path(@file), :icon=>'pencil' %>